<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div layout:fragment="content">

      <div th:insert="fragments/header :: header"></div>

      <div th:insert="categories :: categories"></div>

      <div th:insert="fragments/banner :: banner"></div>

      <div th:insert="carousel :: carousel"></div>
    </div>
    
  </body>
</html>
